Node-RED/2relay.json
[{"id":"ba165e1e177e2c51","type":"server-state-changed","z":"46bbea939422f2ef","name":"FAN","server":"83e1e7eb.4fbf98","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":340,"wires":[["41b1f6e591c46286"]]},{"id":"41b1f6e591c46286","type":"switch","z":"46bbea939422f2ef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":340,"wires":[["54cd41837eaae1ea"],["713fe1befeeaf350"]]},{"id":"54cd41837eaae1ea","type":"api-call-service","z":"46bbea939422f2ef","name":"Turn on","server":"83e1e7eb.4fbf98","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.fan","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Fan ON","valueType":"str"}],"queue":"none","x":360,"y":280,"wires":[["bda714bfa367dd86"]]},{"id":"bda714bfa367dd86","type":"debug","z":"46bbea939422f2ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"713fe1befeeaf350","type":"api-call-service","z":"46bbea939422f2ef","name":"Turn off","server":"83e1e7eb.4fbf98","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.fan","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Fan OFF","valueType":"str"}],"queue":"none","x":360,"y":400,"wires":[["bda714bfa367dd86"]]},{"id":"83e1e7eb.4fbf98","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]