Node-RED/basics.json
[{"id":"a938e931ca4b6524","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83e1e7eb.4fbf98","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"7a8b9a31071c5f8a","type":"inject","z":"a938e931ca4b6524","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Nothing","payload":"Hello World!","payloadType":"str","x":130,"y":120,"wires":[["cfb1b3a0f7f760cc"]]},{"id":"03a744cc806dfc44","type":"debug","z":"a938e931ca4b6524","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"cfb1b3a0f7f760cc","type":"change","z":"a938e931ca4b6524","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"World!","fromt":"str","to":"Bhupend!","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"Nothing","fromt":"str","to":"Something","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":160,"wires":[["03a744cc806dfc44"]]}]